{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Table Maker plugin for Craft CMS
 *
 *  Field Settings
 *
 * @author    Supercool Ltd
 * @copyright Copyright (c) 2018 Supercool Ltd
 * @link      http://www.supercooldesign.co.uk/
 * @package   TableMaker
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("verbb\\tablemaker\\assetbundles\\field\\FieldAsset") %}


<h2>Columns Table</h2>

{{ forms.textField({
  label: "Label"|t,
  id: 'columnsLabel',
  name: 'columnsLabel',
  value: field['columnsLabel'],
}) }}

{{ forms.textareaField({
  label: "Instructions"|t,
  id: 'columnsInstructions',
  name: 'columnsInstructions',
  value: field['columnsInstructions'],
}) }}

{{ forms.textField({
  label: "Add column label"|t,
  id: 'columnsAddRowLabel',
  name: 'columnsAddRowLabel',
  value: field['columnsAddRowLabel'],
}) }}

<h2>Rows Table</h2>

{{ forms.textField({
  label: "Label"|t,
  id: 'rowsLabel',
  name: 'rowsLabel',
  value: field['rowsLabel'],
}) }}

{{ forms.textareaField({
  label: "Instructions"|t,
  id: 'rowsInstructions',
  name: 'rowsInstructions',
  value: field['rowsInstructions'],
}) }}

{{ forms.textField({
  label: "Add row label"|t,
  id: 'rowsAddRowLabel',
  name: 'rowsAddRowLabel',
  value: field['rowsAddRowLabel'],
}) }}
